@charset "UTF-8";
@import url("./normolize.scss");
@import url("./fonts.scss");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #F3F7FB;
  font-family: "SFUIDisplay", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  height: 100px;
}

.btn {
  padding: 22px;
  background-color: #0E0F11;
  border-radius: 16px;
  border: 1px solid #0E0F11;
  width: 100%;
  color: #fff;
  cursor: pointer;
  transition: color linear 0.3s, scale linear 0.3s, opacity linear 0.3s;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.6);
}

.btn:active {
  scale: 0.95;
}

.btn:disabled {
  opacity: 0.6;
  cursor: default;
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: #C3C8CF;
  margin: 0;
}

.rates {
  padding: 53px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rates__text {
  font-size: 16px;
  font-weight: 400;
  color: #C3C8CF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
}
.rates__title {
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.05rem;
  text-align: center;
  margin: 0;
  margin-bottom: 48px;
}
.rates__list {
  display: flex;
  gap: 24px;
  align-items: stretch;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.rates__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 32px 12px 23px;
  min-height: 100%;
  width: 100%;
  border-radius: 24px;
}
.rates .item {
  position: relative;
}
.rates .item .timer {
  position: relative;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  left: 16px;
  top: 16px;
  width: 98px;
  height: 32px;
  background-color: rgba(240, 87, 77, 0.2);
  padding: 6px 12px 6px 16px;
  border-radius: 1000px;
  background-image: url("../img/ico-timer.svg");
  background-position: 8px center;
  text-align: end;
  background-repeat: no-repeat;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  color: #F24C41;
}
.rates .item .timer__time {
  display: flex;
  width: 58px;
  position: absolute;
  text-align: center;
  justify-content: center;
}
.rates .item__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rates .item__label {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: linear-gradient(180deg, #F3F7FB 35.51%, rgba(243, 247, 251, 0.1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  margin-bottom: 20px;
}
.rates .item__label svg {
  color: #0E0F11;
  z-index: 1;
}
.rates .item__label::after {
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
}
.rates .item__title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 11px;
  letter-spacing: 0.009rem;
}
.rates .item__text {
  margin-bottom: 24px;
}
.rates .btn-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 27px;
}
.rates .btn-block__top {
  align-self: stretch;
  border-radius: 20px;
  background: #F3F7FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 24px;
}
.rates .btn-block__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 40px;
  font-weight: 700;
}
.rates .btn-block__text {
  margin-bottom: 21px;
}
.rates .btn-block__bottom {
  position: relative;
  background-image: url("../img/icon-blue-zz.svg");
  background-repeat: no-repeat;
  background-color: #2557F6;
  background-size: cover;
  border-radius: 16px;
  padding: 14px 16px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rates .btn-block__bottom::after {
  content: "";
  border-radius: 16px;
  position: absolute;
  background-image: url("../img/ico-card.svg");
  background-position: -58px -23px;
  background-size: 82%;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.rates .btn-block__bottom p {
  padding-left: 49%;
  margin: 0;
  letter-spacing: -0.04rem;
  background: linear-gradient(90deg, transparent, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Mazzard;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.rates .btn-block__bottom .tooltip {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 2;
  background-image: url("../img/ico-tooltip.svg");
  cursor: pointer;
}
.rates .btn-block__bottom .tooltip__trigger {
  width: 100%;
  height: 100%;
}
.rates .btn-block__bottom .tooltip:hover .tooltip__popup, .rates .btn-block__bottom .tooltip:focus .tooltip__popup {
  display: block;
}
.rates .btn-block__bottom .tooltip__popup {
  display: none;
  border-radius: 10px;
  position: absolute;
  padding: 8px 12px;
  top: 31px;
  right: -13px;
  width: 302px;
  min-height: 76px;
  color: #fff;
  background-color: #0E0F11;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;
  text-align: left;
}
.rates .btn-block__bottom .tooltip__popup::after {
  position: absolute;
  content: "";
  background-color: black;
  width: 24px;
  height: 24px;
  right: 10px;
  top: -3px;
  rotate: 45deg;
  z-index: -1;
}
.rates .text-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: start;
  align-self: start;
  gap: 16px;
  padding: 0 19px;
}
.rates .text-list__item {
  padding-left: 26px;
  background-image: url("../img/ico-confirm.svg");
  background-position: left -3px;
  background-repeat: no-repeat;
  line-height: 1.2;
  display: flex;
  align-items: start;
  gap: 6px;
}
.rates .text-list__item .text {
  color: #0E0F11;
}
.rates .text-list__item .ico-banks {
  display: inline-block;
  width: 50px;
  height: 22px;
  background-image: url("../img/ico-banks.svg");
}
.rates .item--golden.item {
  position: relative;
}
.rates .item--golden.item .item__label {
  background-image: linear-gradient(180deg, #F5CE5B 0%, rgba(251, 238, 136, 0) 100%);
}
.rates .item--golden.item svg {
  color: #E2B735;
}
.rates .item--golden.item::after {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 28px;
  position: absolute;
  top: -4px;
  left: -4px;
  background-image: linear-gradient(180deg, #E0B330 0%, #FBEE88 51.1%, #E0B330 100%);
  z-index: -1;
}
.rates .item--golden.item::before {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  content: "Лучший тариф";
  top: -32px;
  width: 123px;
  height: 32px;
  border-radius: 16px 16px 0 0;
  position: absolute;
  background: linear-gradient(180deg, #FFF289 0%, #D2A41D 100%);
}
.rates .item--golden.item .btn-block__top {
  background: url("../img/golden-bg.svg"), linear-gradient(180deg, #E0B330 0%, #FBEE88 51.1%, #E0B330 100%);
}
.rates .item--golden.item .btn-block__title, .rates .item--golden.item .btn-block__text {
  color: #fff;
}
.rates .item--golden.item .btn-block__bottom {
  background-image: url("../img/golden-bg.svg"), linear-gradient(180deg, #E0B330 0%, #FBEE88 51.1%, #E0B330 100%);
  background-position-y: 50%;
}
.rates .item--golden.item .btn-block__bottom::after {
  background-image: url("../img/ico-card-gold.svg");
}

@media (max-width: 1439px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
    height: 100px;
  }
  .btn {
    padding: 20px;
  }
  .rates {
    padding-top: 35px;
  }
  .rates__text {
    margin-bottom: 13px;
  }
  .rates__title {
    font-size: 48px;
    margin-bottom: 44px;
  }
  .rates .item {
    padding: 24px 12px 30px;
  }
  .rates .item__label {
    width: 72px;
    height: 72px;
    margin-bottom: 17px;
  }
  .rates .item svg {
    scale: 0.8;
  }
  .rates .item__title {
    font-size: 24px;
  }
  .rates .item__text {
    font-size: 14px;
    text-align: center;
  }
  .rates .btn-block__top {
    padding: 26px 16px 16px;
  }
  .rates .btn-block__title {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .rates .btn-block__text {
    margin-bottom: 24px;
  }
  .rates .btn-block__bottom::after {
    background-position: -64px 0px;
    background-size: 79%;
  }
  .rates .btn-block__bottom p {
    font-size: 20px;
    padding-left: 39%;
  }
  .rates .text-list {
    padding: 0 12px;
    gap: 15px;
  }
  .rates .text-list__item .text {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 680px;
  }
  .rates__text {
    margin-bottom: 9px;
  }
  .rates__title {
    margin-bottom: 36px;
  }
  .rates__list {
    flex-direction: column;
    gap: 12px;
  }
  .rates .item {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 302px;
    gap: 0 40px;
    padding: 12px;
    order: 2;
  }
  .rates .item .timer {
    left: unset;
    right: 199px;
    top: 26px;
  }
  .rates .item__top {
    padding-top: 12px;
    padding-left: 12px;
    align-items: start;
  }
  .rates .item__label {
    width: 64px;
    height: 64px;
    margin-bottom: 20px;
  }
  .rates .item__label::after {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
  }
  .rates .item__text {
    margin-bottom: 8px;
  }
  .rates .item.item1 {
    order: 3;
  }
  .rates .item.item--golden {
    order: 1;
  }
  .rates .item.item--golden::before {
    left: 24px;
  }
  .rates .btn-block {
    height: 100%;
    margin: 0;
    grid-row: span 2;
    align-items: stretch;
  }
  .rates .btn-block__title {
    margin-top: auto;
  }
  .rates .btn-block__text {
    margin-bottom: auto;
  }
  .rates .btn-block__top {
    height: 100%;
    min-height: 294px;
    padding: 16px;
  }
  .rates .btn-block__bottom {
    font-size: 20px;
    padding-left: 7%;
  }
  .rates .text-list {
    gap: 12px;
    margin-bottom: auto;
    height: 100%;
  }
}
@media (max-width: 743px) {
  .container {
    max-width: 343px;
  }
  .btn {
    padding: 14px;
    border-radius: 12px;
  }
  .rates {
    padding-top: 26px;
  }
  .rates__text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .rates__title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .rates .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    padding-bottom: 25px;
  }
  .rates .item .timer {
    right: unset;
    left: 16px;
    top: 16px;
    padding: 4px 9px 4px 19px;
    font-size: 12px;
    width: 78px;
    height: 23px;
    background-size: 9px;
  }
  .rates .item .timer__time {
    right: 3px;
    top: 3px;
  }
  .rates .item__top {
    align-items: center;
    padding: 0;
  }
  .rates .item__label {
    margin-bottom: 17px;
  }
  .rates .item__title {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .rates .item__text {
    font-size: 14px;
    margin-bottom: 17px;
  }
  .rates .item.item--golden::before {
    left: 119px;
    font-size: 12px;
    width: 105px;
    height: 26px;
    top: -28px;
  }
  .rates .btn-block {
    gap: 4px;
    margin-bottom: 16px;
  }
  .rates .btn-block__top {
    padding: 20px 16px 16px;
    min-height: unset;
    border-radius: 16px;
  }
  .rates .btn-block__title {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 24px;
  }
  .rates .btn-block__text {
    margin-bottom: 21px;
  }
  .rates .btn-block__bottom {
    padding: 9px 12px;
    border-radius: 12px;
  }
  .rates .btn-block__bottom::after {
    background-position: -44px -17px;
    background-size: 83%;
  }
  .rates .btn-block__bottom p {
    padding-top: 1px;
    font-size: 17px;
    line-height: 0.95;
    padding-left: 49%;
  }
  .rates .btn-block__bottom .tooltip {
    width: 14px;
    height: 14px;
    background-size: cover;
  }
  .rates .text-list {
    gap: 14px;
    padding: 0;
  }
  .rates .text-list__item {
    padding-left: 20px;
  }
}/*# sourceMappingURL=styles.css.map */