<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Актуальные тарифы</title>
</head>
<body>
   <svg style="display: none;">
        <symbol id="logo" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_ii_9106_10470)">
            <rect width="30" height="30" rx="6.66667" fill="#5ABEAF"/>
            <rect x="0.416667" y="0.416667" width="29.1667" height="29.1667" rx="6.25" stroke="url(#paint0_linear_9106_10470)" stroke-opacity="0.12" stroke-width="0.833333"/>
            <g clip-path="url(#clip0_9106_10470)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.801 21.0935C12.7691 21.0935 12.7691 21.0935 12.7691 21.0935C12.4504 21.0935 12.1955 20.8704 12.1317 20.5836L9.86898 11.8831L9.16785 15.102C9.07224 15.4207 8.81728 15.6438 8.46671 15.6438H4.45113C4.0687 15.6438 3.75 15.3251 3.75 14.9426C3.75 14.5602 4.0687 14.2415 4.45113 14.2415H7.92493L9.13598 8.79178C9.19972 8.47309 9.45467 8.25 9.77337 8.25C10.0921 8.25 10.3789 8.47309 10.4745 8.75991L12.8329 17.8746L14.012 14.1459C14.1076 13.8591 14.3626 13.6678 14.6813 13.6678H17.2309C17.5177 13.6678 17.7727 13.8272 17.8683 14.0822L18.4101 15.3888L19.5892 9.55666C19.653 9.23796 19.9079 9.01487 20.2266 8.983C20.5453 8.983 20.8322 9.20609 20.9278 9.52479L21.9795 13.4766H25.5489C25.9313 13.4766 26.25 13.7953 26.25 14.1778C26.25 14.5602 25.9313 14.847 25.5489 14.847H21.4377C21.119 14.847 20.8322 14.6558 20.7684 14.3371L20.3541 12.7755L19.3343 17.8746C19.2705 18.1615 19.0156 18.3846 18.7288 18.4164C18.4101 18.4483 18.1232 18.289 18.0276 18.0021L16.7847 15.0382H15.1912L13.4384 20.6154C13.3428 20.9023 13.0878 21.0935 12.801 21.0935Z" fill="white"/>
            </g>
            </g>
            <defs>
            <filter id="filter0_ii_9106_10470" x="0" y="-3.33333" width="30.8333" height="34.1667" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="0.833333" dy="-3.33333"/>
            <feGaussianBlur stdDeviation="1.66667"/>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.2 0"/>
            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_9106_10470"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="0.833333"/>
            <feGaussianBlur stdDeviation="1.66667"/>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.35 0"/>
            <feBlend mode="normal" in2="effect1_innerShadow_9106_10470" result="effect2_innerShadow_9106_10470"/>
            </filter>
            <linearGradient id="paint0_linear_9106_10470" x1="15" y1="0.375" x2="15" y2="30" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FAFFFE"/>
            <stop offset="1" stop-color="white" stop-opacity="0"/>
            </linearGradient>
            <clipPath id="clip0_9106_10470">
            <rect width="22.5" height="22.5" fill="white" transform="translate(3.75 3.75)"/>
            </clipPath>
            </defs>
 
       </symbol>
       
    </svg>


    <header class="header">
        <div class="container">
            <div class="header__content">
               <div class="logo"> <svg width="30" height="30">
                                <use xlink:href="#logo"></use>

                            </svg> Sensus</div> <div class="burger"></div> 
            </div>
            

        </div>   

     
    </header>
    <section class="team">
        <div class="container" >
            <div class="team__content">

           
            <h1 class="title">Познакомьтесь с нашей командой психологов: забота, понимание и поддержка</h1>
            <p class="text">
                Наши специалисты помогут вам справиться с тревогой, стрессом, выгоранием и жизненными трудностями — с уважением к вашему темпу, состоянию и истории.
            </p>

            <div class="btns">
                <a href="https://t.me/PairPsyhologyBot" class="btn green">
                    Начать путь к себе
                </a>

                <ul class="team__list list">
                    <li class="list__itelm item item1"></li>
                    <li class="list__itelm item item2"></li>
                    <li class="list__itelm item item3"></li>
                    <li class="list__itelm item item4"></li>
                    <li class="list__itelm item item5"></li>
                </ul> 
            </div> 
            <img src="<%= require('./img/psyho_preview.webp') %>" alt="психологи">
        </div>   

        </div> 
    </section>
</body>
</html>